<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix use_fake_hardware:=^|false fake_sensor_commands:=^|false use_sim:=^|false">
    
    <!-- Add the ros2_control XML tags below this line -->

   

  <!-- Add the ros2_control XML tags above this line -->
  </xacro:macro>

</robot>
